<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
  <div id="main">
    <input type="text" placeholder="search" id="search">
    <div id="elem">
    </div>

  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>

     document.querySelector("#search").addEventListener("keyup",function(e){
      var val = document.querySelector("#search").value;
      let clutter=''
      if (val.length>0) {
        console.log(val)
        axios.get(`/getuser/${val}`).then(function (user) {
          console.log(user.data)
          let elem = document.getElementById('elem')
          if (user.data.length>0) {
            
            elem.style.display='block'
            user.data.forEach(data => {
              clutter +=`<h5 id="elemel">${data.name}</h5>`
              elem.innerHTML=clutter
            });
          }

        })
      }
      })
  </script>
</body>
</html>