*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
}
#main{
  width: 100%;
  height: 100vh;
  padding: 50px 30px;
  background-color: brown;

}
#main #search{
  width: 100%;
  height: 8vh;
  border: none;
  padding: 10px;
}
#elem{
  margin-top: 5px;
  width: 100%;
  height: 40vh;
  overflow: auto;
  display: none;
  background-color: rgb(140, 221, 33);
}
#elemel{
  width: 100%;
  height: 60px;
  background-color: chartreuse;
  margin: 10px 0;
  font-size: 30px;
}